@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html {
    scroll-behavior: smooth;
}

#preto {
    z-index: -15;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

#tela-inicial #grad {
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #842ac1, #2d042f, #b417ae);
    background-size: 600% 600%;
    -webkit-animation: animacao-gradiente 23s ease infinite;
    -moz-animation: animacao-gradiente 23s ease infinite;
    -o-animation: animacao-gradiente 23s ease infinite;
    animation: animacao-gradiente 23s ease infinite;
    overflow: hidden;
    will-change: opacity;
}

#sobre-mim #grad {
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #3a6cea, #1a1459, #197a84);
    background-size: 600% 600%;
    -webkit-animation: animacao-gradiente 23s ease infinite;
    -moz-animation: animacao-gradiente 23s ease infinite;
    -o-animation: animacao-gradiente 23s ease infinite;
    animation: animacao-gradiente 23s ease infinite;
    overflow: hidden;
    will-change: opacity;
}

#conhecimentos #grad {
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #4a7b62, #000000, #b96009);
    background-size: 600% 600%;
    -webkit-animation: animacao-gradiente 23s ease infinite;
    -moz-animation: animacao-gradiente 23s ease infinite;
    -o-animation: animacao-gradiente 23s ease infinite;
    animation: animacao-gradiente 23s ease infinite;
    overflow: hidden;
    will-change: opacity;
}

#projetos #grad {
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #c5b90b, #575408, #ac371c);
    background-size: 600% 600%;
    -webkit-animation: animacao-gradiente 23s ease infinite;
    -moz-animation: animacao-gradiente 23s ease infinite;
    -o-animation: animacao-gradiente 23s ease infinite;
    animation: animacao-gradiente 23s ease infinite;
    overflow: hidden;
    will-change: opacity;
}

#contato #grad {
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #ea268f, #5d2c4c, #b3062e);
    background-size: 600% 600%;
    -webkit-animation: animacao-gradiente 23s ease infinite;
    -moz-animation: animacao-gradiente 23s ease infinite;
    -o-animation: animacao-gradiente 23s ease infinite;
    animation: animacao-gradiente 23s ease infinite;
    overflow: hidden;
    will-change: opacity;
}

body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

#tela-inicial {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flexbox;
    overflow: visible;
}

.frase-bem-vindo {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    width: 80%;
    height: 50%;
    left: 10%;
    top: 10%;
}

@media only screen and (max-width:480px) {
    .frase-bem-vindo {
        align-items: center;
        justify-content: center;
        top: 5% !important;
    }
    .frase-bem-vindo p {
        border-width: 3px !important;
        margin-top: 3% !important;
    }
    .frase-bem-vindo p span {
        font-size: 12vw !important;
    }
    #perfilRosto {
        top: 90%;
        height: 50vh !important;
    }
}

.frase-bem-vindo p {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(white 10%, rgba(0, 0, 0, 0)20%, rgba(0, 0, 0, 0)80%, white 90%);
    padding: clamp(2px, 5px, 10px);
    width: auto;
    height: auto;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.500) 10%, rgba(0, 0, 0, 0)20%, rgba(0, 0, 0, 0)80%, rgba(255, 255, 255, 0.500) 90%);
    white-space: break-spaces;
}

.frase-bem-vindo p span {
    color: white;
    font-size: 80px;
    display: inline-block;
    position: relative;
}

.menu {
    margin-top: 0px;
    padding-top: 0px;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.menu a {
    width: 100vw;
    height: auto;
    padding-top: 0px;
    padding: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 0px;
    font-size: calc(45% + 0.390625vw);
    display: flexbox;
    text-decoration: none;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    color: rgb(255, 255, 255);
    transition: font-size, height, font-size 0.15s ease;
}

.menu a:hover {
    font-size: calc(60% + 0.390625vw);
    background: linear-gradient( white 50%, rgba(255, 255, 255, 0));
    height: calc(60% + 0.390625vw);
    border-radius: 0px 0px 10px 10px;
    color: black;
}

.conteudo-container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
}

.quad1 {
    position: inherit;
    top: 9.8vh;
    left: 50vw;
    width: 50%;
    height: 50%;
    border: 4px solid white;
}

.quad2 {
    position: inherit;
    bottom: 10vh;
    right: 30vw;
    width: 50%;
    height: 50%;
    border: 4px solid white;
}

.conteudo {
    font-size: calc(100% + 0.390625vw);
    transform: translateY(20vh);
    width: 100%;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

#title-container {
    position: relative;
    width: 100%;
    top: 15vh;
    padding: auto;
    background: linear-gradient(to right bottom, white, rgba(0, 0, 0, 0));
    border-radius: 0px 0px 3px 0px;
    overflow: hidden;
    will-change: width;
}

.titulo {
    position: relative;
    font-size: calc(100% + 0.390625vw);
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.750);
    text-align: center;
    padding: 5px;
    will-change: width;
}

.linha {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px 0px 50px 0px;
    width: 80%;
    height: 2px;
    opacity: 0.5;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, white 20%, white 80%, rgba(0, 0, 0, 0) 100%);
}

#perfilRosto {
    opacity: 0.5;
    position: sticky;
    transform: scaleX(-1);
    left: 100%;
    bottom: 90vh;
    height: 100vh;
}

#sobre-mim {
    overflow: hidden;
    font-size: 2.7vmax;
    width: 100%;
    height: 100vh;
}

#conhecimentos {
    font-size: 2.7vmax;
    width: 100%;
    height: 100vh;
}

#projetos {
    font-size: 2.7vmax;
    width: 100%;
    height: 100vh;
}

#contato {
    font-size: 2.7vmax;
    width: 100%;
    height: 100vh;
}

@keyframes pequenoPulo {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes animacao-gradiente {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animacao-gradiente {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes animacao-gradiente {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes animacao-gradiente {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes fadeInOut {
    0% {
        z-index: 10;
        opacity: 0;
    }
    50% {
        z-index: 10;
        opacity: 1;
    }
    100% {
        z-index: -10;
        opacity: 0;
    }
}

@keyframes fadeInOutText {
    0% {
        z-index: 10;
        opacity: 0;
    }
    50% {
        z-index: 10;
        opacity: 1;
    }
    100% {
        z-index: -10;
        opacity: 0;
    }
}