@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html {
    scroll-behavior: smooth;
}

#black {
    z-index: -15;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

#start-screen #grad {
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #842ac1, #2d042f, #b417ae);
    background-size: 600% 600%;
    -webkit-animation: gradientAnimation 23s ease infinite;
    -moz-animation: gradientAnimation 23s ease infinite;
    -o-animation: gradientAnimation 23s ease infinite;
    animation: gradientAnimation 23s ease infinite;
    /*background: linear-gradient(1deg, #c62bba, #913ae4, #5442e4);
    background-size: 600% 600%;
    -webkit-animation: gradientAnimation 10s ease infinite;
    -moz-animation: gradientAnimation 10s ease infinite;
    -o-animation: gradientAnimation 10s ease infinite;
    animation: gradientAnimation 10s ease infinite;*/
    overflow: hidden;
}

#about-me #grad {
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #3a6cea, #1a1459, #197a84);
    background-size: 600% 600%;
    -webkit-animation: gradientAnimation 23s ease infinite;
    -moz-animation: gradientAnimation 23s ease infinite;
    -o-animation: gradientAnimation 23s ease infinite;
    animation: gradientAnimation 23s ease infinite;
    overflow: hidden;
}

#knowledge #grad {
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #4a7b62, #000000, #b96009);
    background-size: 600% 600%;
    -webkit-animation: gradientAnimation 23s ease infinite;
    -moz-animation: gradientAnimation 23s ease infinite;
    -o-animation: gradientAnimation 23s ease infinite;
    animation: gradientAnimation 23s ease infinite;
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
}

.menu a {
    font-size: 100%;
    text-decoration: none;
    color: white;
    transition: font-size 0.15s linear;
}

.menu a:hover {
    font-size: 150%;
}

#go-top {
    z-index: 3;
    position: fixed;
    bottom: 10vh;
    right: 10vw;
}

#go-top a {
    font-family: 'Roboto', sans-serif;
    z-index: 3;
    text-decoration: none;
    color: white
}

#start-screen {
    width: 100%;
    height: 100vh;
    display: flexbox;
}

.menu {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    position: relative;
    bottom: -2%;
    right: 3%;
    text-align: right;
}

.title {
    font-size: 200%;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    padding-top: 10%;
}

#about-me {
    font-size: x-large;
    width: 100%;
    height: 100vh;
}

#knowledge {
    font-size: x-large;
    width: 100%;
    height: 100vh;
}

#projects {
    font-size: x-large;
    width: 100%;
    height: 100vh;
}

#contact {
    font-size: x-large;
    width: 100%;
    height: 100vh;
}

@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradientAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes gradientAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes fadeInOut {
    0% {
        z-index: 10;
        opacity: 0;
    }
    50% {
        z-index: 10;
        opacity: 1;
    }
    100% {
        z-index: -10;
        opacity: 0;
    }
}

@keyframes fadeInOutText {
    0% {
        z-index: 10;
        opacity: 0;
    }
    50% {
        z-index: 10;
        opacity: 1;
    }
    100% {
        z-index: -10;
        opacity: 0;
    }
}